.workout--container {
  border: 1px solid lightblue;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 5px;
  
  &__title-container {
    display: flex;
    flex-direction: row;
  }

  h2 {
    margin: 4px 0;
  }

  &__title {
    font-family: 'Thasadith', sans-serif;
    font-size: 20px;
    padding-top: 4px;
    color: black;
    padding-bottom: 2px;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;

    img {
      width: 16px;
      height: 16px;
      margin: 14px 5px;
    }

  }

  &__collapsed {
    animation-name: collapse;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }

  &__expanded {
    animation-name: expand;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }

}

@keyframes collapse {
  from { height: 100px; }
  to { height: 0; }
}

@keyframes expand {
  from { height: 0; }
  to { height: 100px; }
}