.workout--container {
  border: 1px solid lightblue;
  height: 100%;
  border-radius: 4px;
  padding: 4px 10px;
  margin: 0 5px;
  
  &__title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h2 {
    margin: 4px 0;
  }

  &__title {
    font-family: 'Thasadith', sans-serif;
    font-size: 20px;
    padding-top: 4px;
    color: black;
    padding-bottom: 2px;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    margin-left: 20px;

    img {
      width: 16px;
      height: 16px;
      margin: 14px 5px;
    }

  }

}